* {
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    width: 1200px;
    padding: 39px 0 0 90px;
}

.header {
    width: 1000px;
    position: relative;
    display: inline-block;
}

ul.header-list::after, ul.nav-list::after, ul.main-in-bottom-list::after {
    display: block;
    content: "";
    clear: both;
}

ul.header-list {
    position: absolute;
    top: -39px;
    right: 0;
    line-height: 23px;
}

ul.header-list li, ul.nav-list li, ul.main-in-bottom-list li {
    float: left;
}

ul.header-list li a {
    font-size: 9px;
    text-decoration: none;
    color: #ff7800;
    font-weight: bold;
}

ul.header-list li a {
    padding: 0 10px;
}

ul.header-list li:last-child {
    border: 2px solid #ff7800;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: relative;
}

ul.header-list li:last-child::after {
    content: "";
    background: url("../../../images/header/menu-all-arrow.png") no-repeat right center;
    padding: 3.5px;
    position: absolute;
    top: 10px;
    right: 2px;
}

h1.header-h1 {
    display: inline-block;
}

h1.header-h1 a {
    padding-top: 33px;
}

nav {
    width: 87.5%;
    padding-left: 82px;
    min-height: 56px;
    display: inline-block;
    vertical-align: middle;
}

nav .nav-left {
    background: url("../images/header/org-nav-left.png") no-repeat left center;
    padding-left: 9px;
    min-height: 56px;
}

nav .nav-right {
    background: url("../images/header/org-nav-right.png") no-repeat right center;
    padding-right: 5px;
    min-height: 56px;
}

nav .nav-center {
    background: url("../images/header/org-nav-center.png") repeat-x;
    min-height: 56px;
}

ul.nav-list {
    line-height: 50px;
    padding: 0 13px;
}

ul.nav-list li {
    text-align: center;
}

ul.nav-list li:not(:first-child) {
    margin-left: 41.8px;
}

ul.nav-list li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 7px 45.5px;
}

ul.nav-list li a.active, 
ul.nav-list li a:hover {
    background: #fff;
    color: #ff7800;
}

ul.nav-list li a.active {
    margin-left: 0;
}

.main-wrap {
    margin-top: 32px;
}

aside {
    display: inline-block;
    width: 191px;
}

aside h2.aside-h2 {
    font-size: 0;
    background: url("../images/aside/aside-company-introduce.png") no-repeat center center;
    line-height: 33px;
    padding-top: 30px;
}

ul.aside-list {
    padding-left: 30px;
    margin-top: 21px;
}

ul.aside-list li {
    padding-left: 17px;
    line-height: 27px;
}

ul.aside-list > li > a {
    display: block;
    color: #f8a94b;
    font-size: 13px;
}

ul.aside-list li:not(:first-child) {
    margin-top: 9.5px;
}

ul.aside-list li:not(:last-child) {
    margin-bottom: 9.5px;
}

ul.aside-list > li:hover, 
ul.aside-list > li.active {
    background: url("../images/aside/aside-hover.png") no-repeat top left;
}

ul.aside-list > li:hover > a, 
ul.aside-list > li.active > a {
    color: #f7941e;
    font-weight: bold;
}

ul.aside-drop-list li {
    background: #f2be6d;
    line-height: 16px;
    padding-left: 14px;
}

ul.aside-drop-list li a {
    color: #fff;
    font-size: 11px;
    display: block;
}

ul.aside-drop-list li:not(:first-child) {
    margin-top: 1px;
}

ul.aside-drop-list li:not(:last-child) {
    margin-bottom: 1px;
}

ul.aside-drop-list li:hover,
ul.aside-drop-list li.active {
    background: #f7941e;
}

section {
    width: 790px;
    min-height: 747px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
}

.main-border-top {
    background: url("../images/main-border-radius-top.png") no-repeat top;
    padding-top: 3px;
}

.main-border-bottom {
    background: url("../images/main-border-radius-bottom.png") no-repeat bottom;
    padding-bottom: 3px;
    vertical-align: bottom;
}

.main {
    background: url("../images/main-border-y.png") repeat-y;
}

.main-content {
    padding: 60px 60px 58px 60px;
}

h3.main-h3 {
    background: url("../images/org-round.png") no-repeat left center;
    padding-left: 26px;
    display: inline-block;
}

ul.main-introduce-list {
    display: inline-block;
    position: absolute;
    right: 0;  
}

ul.main-introduce-list li {
    color: #c8c8c8;
    font-size: 11px;
    display: inline-block;
    letter-spacing: -0.5px;
}

ul.main-introduce-list li.active {
    color: #f7941e;
}

ul.main-introduce-list li:not(:last-child) {
    background: url("../images/&gt.png") no-repeat right center;
    content: "";
    padding: 4.5px 16.5px 4.5px 2.5px;
}

.main-content-top {
    position: relative;
}

.main-content-btm p.mcb-text {
    padding: 30px 0 30px 0;
    font-size: 15px;
    font-weight: bold;
}

.main-in-border {
    background: url("../images/section-border.png") repeat-x;
    padding-top: 3px;
}

.main-in-border-bottom {
    background: url("../images/section-border-bottom.png") repeat-x bottom;
    padding-bottom: 2px;
}

.main-in-border-y {
    background: url("../images/section-border-y.png") repeat-y;
    padding: 38px 26px 33px 27px;
}

.main-in-logo-wrap {
    display: inline-block;
    padding: 0 38px 55px 0;
    border-right: 1px dotted #e5e5e5;
}

.main-in-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

dl.main-in-introduce {
    line-height: 17.5px;
}

dl.main-in-introduce dt, h3.main-in-h3 {
    font-size: 14px;
    color: #f7941e;
    font-weight: bold;
}

dl.main-in-introduce dd {
    font-size: 11px;
    color: #9b9b9b;
}

.main-in-text dl.main-in-introduce:not(:first-child) {
    margin-top: 30px;
}

button.main-in-btn {
    margin-top: 9px;
    border: none;
    padding-bottom: 5px;
}

button.main-in-btn a {
    font-size: 0;
    background: url("../images/org-button.png") no-repeat;
    padding: 11px 38.5px;
}

h3.main-in-h3 {
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
}

ul.main-in-bottom-list {
    margin-top: 15px;
}

ul.main-in-bottom-list li {
    font-size: 0;
    padding: 25.5px 60.5px;
}

ul.main-in-bottom-list li:first-child {
    background: url("../images/box-01.png") no-repeat;
}

ul.main-in-bottom-list li:nth-child(2) {
    background: url("../images/box-02.png") no-repeat;
}

ul.main-in-bottom-list li:nth-child(3) {
    background: url("../images/box-03.png") no-repeat;
}

ul.main-in-bottom-list li:nth-child(4) {
    background: url("../images/box-04.png") no-repeat;
}

ul.main-in-bottom-list li:last-child {
    background: url("../images/box-05.png") no-repeat;
}

ul.main-in-bottom-list li:not(:first-child) {
    margin-left: 3px;
}

.main-in-desc {
    padding: 32px 0 0 31px;
}

ul.main-in-desc-list li {
    font-size: 11px;
    color: #9b9b9b;
    line-height: 15px;
}

footer {
    background: url("../images/index-bg-main.png") no-repeat left;
}