* {
    box-sizing: border-box;
}
.wrap {
    margin: 0 auto;
    width: 1200px;
    padding: 39px 0 0 90px;
}
.header {
    width: 798px;
    position: relative;
    display: inline-block;
}
ul.header-list::after, ul.nav-list::after {
    display: block;
    content: "";
    clear: both;
}
ul.header-list {
    position: absolute;
    top: -39px;
    right: 0;
    line-height: 23px;
}
ul.header-list li, ul.nav-list li {
    float: left;
}
ul.header-list li a {
    font-size: 9px;
    text-decoration: none;
    color: #ff7800;
    font-weight: bold;
}
ul.header-list li a {
    padding: 0 10px;
}
ul.header-list li:last-child {
    border: 2px solid #ff7800;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: relative;
}
ul.header-list li:last-child::after {
    content: "";
    background: url("../../../images/header/menu-all-arrow.png") no-repeat right center;
    padding: 3.5px;
    position: absolute;
    top: 10px;
    right: 2px;
}
h1.header-h1 {
    display: inline-block;
}
h1.header-h1 a {
    padding-top: 33px;
}
nav {
    width: 84%;
    padding-left: 82px;
    min-height: 56px;
    display: inline-block;
    vertical-align: middle;
}
nav .nav-left {
    background: url("../images/header/org-nav-left.png") no-repeat left center;
    padding-left: 9px;
    min-height: 56px;
}
nav .nav-right {
    background: url("../images/header/org-nav-right.png") no-repeat right center;
    padding-right: 5px;
    min-height: 56px;
}
nav .nav-center {
    background: url("../images/header/org-nav-center.png") repeat-x;
    min-height: 56px;
}
ul.nav-list {
    line-height: 50px;
    padding-left: 13px;
}
ul.nav-list li {
    text-align: center;
}
ul.nav-list li:not(:first-child) {
    margin-left: 9px;
}
ul.nav-list li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 14.5px 39.8px;
}
ul.nav-list li a.active, 
ul.nav-list li a:hover {
    background: #fff;
    padding: 7px 25.4px;
    color: #ff7800;
    margin-left: 38px;
}
ul.nav-list li a.active {
    margin-left: 0;
}